<!-- the html structure has been removed and put in application.html.erb -->
<h1>Salaam World App</h1>

<p>
  This is the Home page.
</p>
<p>
  Takbir!!!<br>
  <%= takbir %>
</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
      
